@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
 --english-holly: #043414;
 --gin: #E0ECE6;
 --spanish-green: #849484;
 --dark-green: #021e0b;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Zain';
}

body {
 background-color: var(--english-holly);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh; 
 flex-direction: column;
}

h1, h2, h3, p, a {
 color: var(--gin);
 text-align: center;
}

h1 {
 font-weight: bold;
 font-size: 3rem;
}

.voltar {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voltar a {
  text-decoration: none;
  color: var(--gin);
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.414);
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.voltar a:hover {
  background-color: var(--spanish-green);
  transform: scale(1.1);/
}

form {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 10px;
 background-color: var(--dark-green);
 padding: 20px;
 border-radius: 10px;
 width: 90%;
 max-width: 400px;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label.schedule_label {
font-size: 1rem; /* Tamanho de texto padrão */
color: var(--gin); /* Cor padrão (ajuste conforme necessário) */
text-align: left; /* Alinha o texto à esquerda */
width: 100%; /* Garante que a label ocupe toda a largura do formulário */
margin-bottom: -0.7rem;
margin-top: -0.5rem;
}

select, input, button {
 width: 100%;
 padding: 10px;
 border: none;
 border-radius: 5px;
 font-size: 1rem;
}
select{
 height: 2.6rem;
}
select, input {
 background-color: var(--gin);
 color: black;
}

input[type="date"],
input[type="time"] {
 width: 100%;
 height: 2.6rem; 
 padding: 10px;
 background-color: var(--gin);
 color: black;
 border-radius: 5px;
 border: none;
 font-size: 1rem;
 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: textfield;
 position: relative;
}

.checkbox-label {
 display: flex;
 align-items: baseline;
 color: var(--gin);
 gap: 10px;
}

.checkbox-label input {
 width: auto; /* Ajuste o tamanho da checkbox */
 transform: scale(1.5);
}

.checkbox-label span {
 font-size: 1.2em;
}

#selectedItems {
 margin-top: 0px;
}

.tag {
 display: inline-block;
 background-color: #007bff;
 color: white;
 padding: 5px 10px;
 margin: 5px;
 border-radius: 5px;
 cursor: pointer;
}ƒ

.tag:hover {
 background-color: #0056b3;
}

button {
 background-color: var(--spanish-green);
 color: white;
 font-weight: bold;
 cursor: pointer;
 transition: 0.3s;
}

button:hover {
 background-color: #6b8e68;
}

/* Responsividade */
@media (max-width: 768px) {
    form {
        width: 65%;
    }

    select, input, button {
        font-size: 14px;
        padding: 8px;
    }
}